{% for todo in todos %}
{% if todo.isComplete %}
<div class="card-panel green">
{% else %}
<div class="card-panel light-blue lighten-1">
{% endif %}
    <blockquote>
        {{ todo.body }}
    </blockquote>
    <a href="{{ url_for('delete', id=todo.id) }}" class="waves-effect waves-light btn-small red darken-1">Delete</a>
    {% if not todo.isComplete %}<a href="{{ url_for('complete', id=todo.id) }}" class="waves-effect waves-light btn-small green darken-3">Complete</a>{% endif %}
</div>
{% endfor %}